In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("data.csv")
data

   X1  X2     Y
0  32  10  37.9
1  19   9  42.2
2  13   5  47.3
3  13   5  47.5
4   5   5  51.5
5   7   3  48.2
6  34   7  40.3
7  20   6  46.7
8  30   1  18.8
9  17   3  25.8

In [5]:
model = LinearRegression()
model.fit(data[['X1','X2']],data.Y)

LinearRegression()

In [6]:
model.predict([[23,3]])

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31.54485953])

In [12]:
m1,m2 = model.coef_
print(m1,m2)

-0.818152079904026 2.4177217308819006

In [13]:
c = model.intercept_
c

43.10919217141423

In [14]:
Y = m1*(23)+m2*(3)+c
Y

31.54485952626733